:root {
    --primary1: #100000;
    --secondary1: #E2B670;
    --teritary1: #B98404;
    --headertext: #100000;
    --secondarytext: #554444;
    --secondgrey: #89959A;
    --placeholder: #8d8d8d;
    --backgroundclr: #FCF8EA;
    --bordergrey: #DADADA;
    --bs-font-sans-serif: "Raleway", sans-serif !important;
    --bs-font-sans-serif2: "Inter", sans-serif !important;
}

body {
    font-family: var(--bs-font-sans-serif) !important;
    font-size: .9rem;
    min-height: 100vh;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 14 14" fill="none"><g clip-path="url(%23clip0_107_552)"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.31205 0.427528L3.31023 0.427167C3.08665 0.298262 2.83145 0.23451 2.57352 0.243125C2.31558 0.251741 2.06521 0.332381 1.85073 0.475919C1.63625 0.619457 1.46623 0.820163 1.35991 1.05532C1.25359 1.29048 1.21521 1.55071 1.24912 1.80655L1.24949 1.80946L1.25023 1.81528L1.25318 1.83857L1.26572 1.92807L1.31182 2.26828L1.47868 3.48846L2.65988 12.1828L2.70911 12.5454L2.72221 12.6463L2.7259 12.6755C2.7098 12.8533 2.74561 13.032 2.829 13.1899C2.91239 13.3478 3.03979 13.4781 3.19574 13.5651C3.3517 13.652 3.52953 13.6919 3.70769 13.6798C3.88585 13.6678 4.05669 13.6043 4.19952 13.4972C4.28417 13.4424 4.35934 13.3742 4.42207 13.2953C4.4789 13.2233 4.52679 13.1392 4.57251 13.0612L4.57414 13.0578L5.99737 10.625L6.92733 9.03472L7.23175 8.51519L7.23447 8.511L7.2412 8.51044L7.8421 8.4233L9.67808 8.15617C10.6136 8.02202 11.5486 7.88345 12.4828 7.74046L12.5279 7.73238C12.6358 7.71308 12.8286 7.68034 13.0009 7.56503C13.1016 7.49767 13.1881 7.41113 13.2553 7.31035C13.3225 7.20958 13.3693 7.09654 13.3928 6.9777C13.4164 6.85886 13.4163 6.73655 13.3925 6.61775C13.3688 6.49895 13.3219 6.38599 13.2545 6.28532L13.2472 6.27441C13.2077 6.20956 13.1621 6.1486 13.1111 6.09232C13.0215 6.00146 12.917 5.92667 12.8021 5.87123L12.8003 5.87087L12.7706 5.85363L12.6786 5.8023L12.3538 5.61781L11.251 4.98688C9.08926 3.74773 6.92838 2.50702 4.7684 1.26473L3.71006 0.657741L3.41496 0.485757L3.33555 0.442589L3.31642 0.42934L3.31205 0.427528Z" fill="black"/></g><defs><clipPath id="clip0_107_552"><rect width="14" height="14" fill="white"/></clipPath></defs></svg>'), auto;
}

p {
    margin-bottom: 0 !important;
}

.fw-semibold {
    font-weight: 600;
}
.fs-7{
    font-size: .9rem;
}
.fs-8{
    font-size: .8rem;
}
.btn {
    font-size: 1.1rem !important;
}

.btn-dark {
    background-color: var(--primary1) !important;
    transition: .5s ease-in-out;
}

.btn-dark:hover {
    background-color: #554444 !important;
}

.btn-grey {
    background-color: #f5f5f5 !important;
}

.btn-grey:hover {
    background-color: #deca7a !important;
}

.primary_shadow {
    box-shadow: 0px 4px 50px 0px rgba(199, 199, 199, 0.55);
}

.secondary_shadow {
    box-shadow: 0px 4px 50px 0px rgba(199, 199, 199, 0.55);
}

.numberfont {
    font-family: var(--bs-font-sans-serif2) !important;
}

.textfont {
    font-family: var(--bs-font-sans-serif) !important;
}

.texture {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.texture::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;
    background: url(../img/texture.png) #fff 0% 0% / 85px 45px repeat;

}

.header,
.footer {
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 8rem;
    max-height: 6rem;
    display: block;
    margin: 1rem auto;
    object-fit: contain;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="88" height="46" viewBox="0 0 80 34" fill="none"><path d="M6.00018 8.5C6.00018 3.80558 9.80576 0 14.5002 0H71.5002C76.1946 0 80.0002 3.80558 80.0002 8.5C80.0002 13.1944 76.1946 17 71.5002 17H14.5002C9.80576 17 6.00018 13.1944 6.00018 8.5Z" fill="%23434343" fill-opacity="0.95"/><path d="M19.0598 6.5H18.2672C18.2203 6.27202 18.1383 6.07173 18.0211 5.89915C17.9061 5.72656 17.7654 5.58168 17.5993 5.46449C17.4352 5.34517 17.253 5.25568 17.0527 5.19602C16.8525 5.13636 16.6436 5.10653 16.4263 5.10653C16.03 5.10653 15.671 5.20668 15.3493 5.40696C15.0297 5.60724 14.775 5.90234 14.5854 6.29226C14.3979 6.68217 14.3042 7.16051 14.3042 7.72727C14.3042 8.29403 14.3979 8.77237 14.5854 9.16229C14.775 9.5522 15.0297 9.8473 15.3493 10.0476C15.671 10.2479 16.03 10.348 16.4263 10.348C16.6436 10.348 16.8525 10.3182 17.0527 10.2585C17.253 10.1989 17.4352 10.1104 17.5993 9.99325C17.7654 9.87393 17.9061 9.72798 18.0211 9.5554C18.1383 9.38068 18.2203 9.1804 18.2672 8.95455H19.0598C19.0002 9.28906 18.8915 9.58842 18.7338 9.85263C18.5762 10.1168 18.3801 10.3416 18.1458 10.527C17.9114 10.7102 17.6483 10.8498 17.3564 10.9457C17.0666 11.0415 16.7566 11.0895 16.4263 11.0895C15.8681 11.0895 15.3716 10.9531 14.937 10.6804C14.5023 10.4077 14.1603 10.0199 13.911 9.51705C13.6618 9.0142 13.5371 8.41761 13.5371 7.72727C13.5371 7.03693 13.6618 6.44034 13.911 5.9375C14.1603 5.43466 14.5023 5.04687 14.937 4.77415C15.3716 4.50142 15.8681 4.36506 16.4263 4.36506C16.7566 4.36506 17.0666 4.413 17.3564 4.50888C17.6483 4.60476 17.9114 4.74538 18.1458 4.93075C18.3801 5.11399 18.5762 5.33771 18.7338 5.60192C18.8915 5.86399 19.0002 6.16335 19.0598 6.5Z" fill="white"/><path d="M20.9926 4.45455V11H20.2384V4.45455H20.9926Z" fill="white"/><path d="M22.3741 11V6.09091H23.1284V11H22.3741ZM22.7576 5.27273C22.6106 5.27273 22.4838 5.22266 22.3773 5.12251C22.2729 5.02237 22.2207 4.90199 22.2207 4.76136C22.2207 4.62074 22.2729 4.50036 22.3773 4.40021C22.4838 4.30007 22.6106 4.25 22.7576 4.25C22.9047 4.25 23.0304 4.30007 23.1348 4.40021C23.2413 4.50036 23.2946 4.62074 23.2946 4.76136C23.2946 4.90199 23.2413 5.02237 23.1348 5.12251C23.0304 5.22266 22.9047 5.27273 22.7576 5.27273Z" fill="white"/><path d="M26.5042 11.1023C26.0439 11.1023 25.6476 10.9936 25.3153 10.7763C24.9829 10.5589 24.7272 10.2596 24.5482 9.8782C24.3692 9.4968 24.2797 9.06108 24.2797 8.57102C24.2797 8.07244 24.3714 7.63246 24.5546 7.25107C24.74 6.86754 24.9978 6.56818 25.328 6.35298C25.6604 6.13565 26.0482 6.02699 26.4914 6.02699C26.8366 6.02699 27.1476 6.09091 27.4246 6.21875C27.7016 6.34659 27.9285 6.52557 28.1054 6.75568C28.2822 6.9858 28.392 7.25426 28.4346 7.56108H27.6803C27.6228 7.33736 27.4949 7.1392 27.2968 6.96662C27.1008 6.7919 26.8366 6.70455 26.5042 6.70455C26.2101 6.70455 25.9523 6.78125 25.7307 6.93466C25.5113 7.08594 25.3398 7.30007 25.2162 7.57706C25.0947 7.85192 25.034 8.17472 25.034 8.54545C25.034 8.92472 25.0937 9.25497 25.213 9.53622C25.3344 9.81747 25.5049 10.0359 25.7243 10.1914C25.9459 10.3469 26.2059 10.4247 26.5042 10.4247C26.7002 10.4247 26.8781 10.3906 27.0379 10.3224C27.1977 10.2543 27.333 10.1562 27.4438 10.0284C27.5546 9.90057 27.6334 9.74716 27.6803 9.56818H28.4346C28.392 9.85795 28.2865 10.119 28.1182 10.3512C27.952 10.5813 27.7314 10.7646 27.4566 10.9009C27.1839 11.0352 26.8664 11.1023 26.5042 11.1023Z" fill="white"/><path d="M30.2403 9.21023L30.2275 8.27699H30.3809L32.5287 6.09091H33.4619L31.1736 8.40483H31.1096L30.2403 9.21023ZM29.5372 11V4.45455H30.2915V11H29.5372ZM32.6565 11L30.7389 8.57102L31.2758 8.04688L33.6153 11H32.6565Z" fill="white"/><path d="M39.0989 6.09091V6.73011H36.5549V6.09091H39.0989ZM37.2963 4.91477H38.0506V9.59375C38.0506 9.80682 38.0815 9.96662 38.1433 10.0732C38.2072 10.1776 38.2882 10.2479 38.3862 10.2841C38.4863 10.3182 38.5918 10.3352 38.7026 10.3352C38.7857 10.3352 38.8539 10.331 38.9071 10.3224C38.9604 10.3118 39.003 10.3033 39.035 10.2969L39.1884 10.9744C39.1373 10.9936 39.0659 11.0128 38.9743 11.032C38.8826 11.0533 38.7665 11.0639 38.6259 11.0639C38.4128 11.0639 38.204 11.0181 37.9995 10.9265C37.7971 10.8349 37.6287 10.6953 37.4945 10.5078C37.3624 10.3203 37.2963 10.0838 37.2963 9.7983V4.91477Z" fill="white"/><path d="M42.1751 11.1023C41.7319 11.1023 41.343 10.9968 41.0085 10.7859C40.6761 10.5749 40.4162 10.2798 40.2287 9.90057C40.0433 9.52131 39.9506 9.07813 39.9506 8.57102C39.9506 8.05966 40.0433 7.61328 40.2287 7.23189C40.4162 6.8505 40.6761 6.55433 41.0085 6.34339C41.343 6.13246 41.7319 6.02699 42.1751 6.02699C42.6183 6.02699 43.006 6.13246 43.3384 6.34339C43.6729 6.55433 43.9329 6.8505 44.1183 7.23189C44.3058 7.61328 44.3995 8.05966 44.3995 8.57102C44.3995 9.07813 44.3058 9.52131 44.1183 9.90057C43.9329 10.2798 43.6729 10.5749 43.3384 10.7859C43.006 10.9968 42.6183 11.1023 42.1751 11.1023ZM42.1751 10.4247C42.5117 10.4247 42.7887 10.3384 43.006 10.1658C43.2234 9.99325 43.3842 9.76634 43.4886 9.48509C43.593 9.20384 43.6452 8.89915 43.6452 8.57102C43.6452 8.2429 43.593 7.93714 43.4886 7.65376C43.3842 7.37038 43.2234 7.14134 43.006 6.96662C42.7887 6.7919 42.5117 6.70455 42.1751 6.70455C41.8384 6.70455 41.5614 6.7919 41.3441 6.96662C41.1268 7.14134 40.9659 7.37038 40.8615 7.65376C40.7571 7.93714 40.7049 8.2429 40.7049 8.57102C40.7049 8.89915 40.7571 9.20384 40.8615 9.48509C40.9659 9.76634 41.1268 9.99325 41.3441 10.1658C41.5614 10.3384 41.8384 10.4247 42.1751 10.4247Z" fill="white"/><path d="M48.1844 11V4.45455H48.977V7.36932H52.4671V4.45455H53.2597V11H52.4671V8.07244H48.977V11H48.1844Z" fill="white"/><path d="M56.7385 11.1023C56.2954 11.1023 55.9065 10.9968 55.572 10.7859C55.2396 10.5749 54.9797 10.2798 54.7922 9.90057C54.6068 9.52131 54.5141 9.07813 54.5141 8.57102C54.5141 8.05966 54.6068 7.61328 54.7922 7.23189C54.9797 6.8505 55.2396 6.55433 55.572 6.34339C55.9065 6.13246 56.2954 6.02699 56.7385 6.02699C57.1817 6.02699 57.5695 6.13246 57.9019 6.34339C58.2364 6.55433 58.4964 6.8505 58.6817 7.23189C58.8692 7.61328 58.963 8.05966 58.963 8.57102C58.963 9.07813 58.8692 9.52131 58.6817 9.90057C58.4964 10.2798 58.2364 10.5749 57.9019 10.7859C57.5695 10.9968 57.1817 11.1023 56.7385 11.1023ZM56.7385 10.4247C57.0752 10.4247 57.3522 10.3384 57.5695 10.1658C57.7868 9.99325 57.9477 9.76634 58.0521 9.48509C58.1565 9.20384 58.2087 8.89915 58.2087 8.57102C58.2087 8.2429 58.1565 7.93714 58.0521 7.65376C57.9477 7.37038 57.7868 7.14134 57.5695 6.96662C57.3522 6.7919 57.0752 6.70455 56.7385 6.70455C56.4019 6.70455 56.1249 6.7919 55.9076 6.96662C55.6903 7.14134 55.5294 7.37038 55.425 7.65376C55.3206 7.93714 55.2684 8.2429 55.2684 8.57102C55.2684 8.89915 55.3206 9.20384 55.425 9.48509C55.5294 9.76634 55.6903 9.99325 55.9076 10.1658C56.1249 10.3384 56.4019 10.4247 56.7385 10.4247Z" fill="white"/><path d="M60.1143 11V6.09091H60.843V6.85795H60.907C61.0092 6.59588 61.1744 6.3924 61.4023 6.24751C61.6303 6.1005 61.9041 6.02699 62.2237 6.02699C62.5476 6.02699 62.8171 6.1005 63.0323 6.24751C63.2496 6.3924 63.419 6.59588 63.5405 6.85795H63.5916C63.7173 6.6044 63.9059 6.40305 64.1573 6.25391C64.4087 6.10263 64.7102 6.02699 65.0618 6.02699C65.5007 6.02699 65.8597 6.16442 66.1388 6.43928C66.418 6.712 66.5575 7.13707 66.5575 7.71449V11H65.8033V7.71449C65.8033 7.35227 65.7042 7.09339 65.506 6.93786C65.3079 6.78232 65.0746 6.70455 64.8061 6.70455C64.4609 6.70455 64.1935 6.80895 64.0039 7.01776C63.8143 7.22443 63.7195 7.48651 63.7195 7.80398V11H62.9524V7.63778C62.9524 7.35866 62.8619 7.13388 62.6808 6.96342C62.4996 6.79084 62.2663 6.70455 61.9808 6.70455C61.7848 6.70455 61.6016 6.75675 61.4311 6.86115C61.2628 6.96555 61.1264 7.11044 61.022 7.29581C60.9197 7.47905 60.8686 7.69105 60.8686 7.93182V11H60.1143Z" fill="white"/><path d="M69.9949 11.1023C69.5218 11.1023 69.1138 10.9979 68.7708 10.7891C68.4299 10.5781 68.1667 10.2841 67.9814 9.90696C67.7981 9.5277 67.7065 9.08665 67.7065 8.58381C67.7065 8.08097 67.7981 7.63778 67.9814 7.25426C68.1667 6.86861 68.4245 6.56818 68.7548 6.35298C69.0872 6.13565 69.475 6.02699 69.9181 6.02699C70.1738 6.02699 70.4263 6.0696 70.6756 6.15483C70.9249 6.24006 71.1518 6.37855 71.3564 6.57031C71.5609 6.75994 71.7239 7.01136 71.8454 7.32457C71.9668 7.63778 72.0275 8.02344 72.0275 8.48153V8.80114H68.2434V8.14915H71.2605C71.2605 7.87216 71.2051 7.625 71.0943 7.40767C70.9856 7.19034 70.8301 7.01882 70.6277 6.89311C70.4274 6.7674 70.1909 6.70455 69.9181 6.70455C69.6177 6.70455 69.3578 6.77912 69.1383 6.92827C68.921 7.07528 68.7537 7.26705 68.6365 7.50355C68.5194 7.74006 68.4608 7.99361 68.4608 8.2642V8.69886C68.4608 9.0696 68.5247 9.38388 68.6525 9.64169C68.7825 9.89737 68.9625 10.0923 69.1926 10.2266C69.4228 10.3587 69.6902 10.4247 69.9949 10.4247C70.193 10.4247 70.372 10.397 70.5318 10.3416C70.6937 10.2841 70.8333 10.1989 70.9505 10.0859C71.0676 9.97088 71.1582 9.82812 71.2221 9.65767L71.9508 9.86222C71.8741 10.1094 71.7452 10.3267 71.5641 10.5142C71.383 10.6996 71.1593 10.8445 70.8929 10.9489C70.6266 11.0511 70.3272 11.1023 69.9949 11.1023Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M2.31221 20.4275L2.31039 20.4272C2.08681 20.2983 1.83162 20.2345 1.57368 20.2431C1.31575 20.2517 1.06538 20.3324 0.8509 20.4759C0.636422 20.6195 0.466402 20.8202 0.36008 21.0553C0.253759 21.2905 0.215382 21.5507 0.249292 21.8065L0.253352 21.8386L0.265885 21.9281L0.311985 22.2683L1.70928 32.5454L1.72238 32.6463L1.72607 32.6754C1.70996 32.8533 1.74578 33.032 1.82917 33.1899C1.91256 33.3478 2.03995 33.4781 2.19591 33.5651C2.35187 33.652 2.5297 33.6919 2.70786 33.6798C2.88602 33.6678 3.05686 33.6043 3.19968 33.4972C3.28434 33.4424 3.35951 33.3742 3.42224 33.2953C3.47907 33.2233 3.52696 33.1392 3.57268 33.0612L3.57431 33.0578L6.23192 28.5152L6.23464 28.511L6.24137 28.5104L8.67825 28.1562C9.61381 28.022 10.5487 27.8835 11.483 27.7405L11.5281 27.7324C11.636 27.7131 11.8288 27.6803 12.0011 27.565C12.1018 27.4977 12.1882 27.4111 12.2555 27.3104C12.3227 27.2096 12.3694 27.0965 12.393 26.9777C12.4165 26.8589 12.4164 26.7366 12.3927 26.6178C12.369 26.4989 12.3221 26.386 12.2547 26.2853L12.2474 26.2744C12.2078 26.2096 12.1623 26.1486 12.1113 26.0923C12.0217 26.0015 11.9172 25.9267 11.8023 25.8712L11.8005 25.8709L11.7708 25.8536L11.6788 25.8023L11.354 25.6178L10.2512 24.9869C8.08943 23.7477 5.92855 22.507 3.76857 21.2647L2.71023 20.6577L2.41513 20.4858L2.33571 20.4426L2.31658 20.4293L2.31221 20.4275Z" fill="black"/></svg>'), auto !important;
}

.social {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    a {
        font-size: 20px;
        padding: 0 .2rem;
        color: var(--secondary1);
        transition: .5s ease-in-out;
    }

    a:hover {
        color: var(--primary1);
    }
}

.powered {
    width: 6rem;
}

.dropdown>.dropdown-menu,
.dropdown.open>.dropdown-menu {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.2s;
}

.dropdown:hover>.dropdown-menu,
.dropdown.open:hover>.dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu {
    bottom: 100%;
    right: -42%;
    padding: 0 !important;
    width: max-content;
    min-width: 16vw !important;
    max-width: 90vw !important;
    border: 1px solid #ffe5bc !important;
    border-radius: 1vh !important;
    a{
        padding: .5rem;
        grid-gap:.5rem;
        border-radius: 1vh;
    }
    a:hover{
        background-color: var(--backgroundclr);
    }
    p{
        line-height: 1rem;
    }
    .headtxt{
        font-size: .8rem;
    }
    .addresstxt{
        font-size: .7rem;
        font-weight: 400;
    }
}

.logincard {
    background-color: #fff;
    border-radius: 2vh;
    overflow: hidden;

    .logindetails {
        max-width: 85%;
        height: 100%;
        margin: auto;
    }
}

.inputGroup {

    margin: 1em 0 0em 0;
    font-family: var(--bs-font-sans-serif2);
    position: relative;
}

.inputGroup input {
    padding: 0.6em;
    outline: none;
    border: 2px solid var(--bordergrey);
    background-color: #F5F5F5;
    border-radius: 5px;
    width: 100%;
}

.inputGroup label {
    color: #8D8D8D;
    position: absolute;
    left: 0;
    padding: 0.6em;
    margin-left: 0.5em;
    font-size: .9rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-60%) scale(.9);
    margin: 0em;
    margin-left: 1em;
    padding: 0 0.4em;
    background-color: #fff;
    color: var(--placeholder);

}

.inputGroup :is(input:focus, input:valid) {
    border-color: var(--secondary1);
    background-color: #fff;
}

.store {
    list-style: none;
    border-radius: 0.625rem;
    background: rgba(170, 170, 170, 0.13);
    backdrop-filter: blur(2px);
    padding: .5rem 1rem;

    a {
        color: var(--primary1);
        font-weight: 600;
        text-decoration: none;
    }
    a:hover{
        color: var(--secondarytext);
    }
}


.carousel-indicators [data-bs-target] {

    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 1rem !important;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none"><path d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928931C1.95262 0.538407 1.31946 0.538407 0.928933 0.928931C0.538409 1.31946 0.538409 1.95262 0.928933 2.34314L6.58579 8L0.928931 13.6569C0.538407 14.0474 0.538407 14.6805 0.928931 15.0711C1.31946 15.4616 1.95262 15.4616 2.34314 15.0711L8.70711 8.70711ZM7 9L8 9L8 7L7 7L7 9Z" fill="white" fill-opacity="1"/></svg>') !important;
}

.carousel-control-prev-icon {
    transform: rotate(180deg);
}

.carousel-indicators {
    justify-content: flex-end !important;
    margin-right: 1rem !important;
    margin-left: 0% !important;
}

.apps {
    justify-content: center;
    grid-gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    img {
        max-width: 130px;
    }
}
.addresbar{
    border: 1px solid #89959A;
    padding: .6rem;
    border-radius: 1vh;
}

.contact{
    position: fixed;
    left: 3%;
    bottom: 2%;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0rem;
    a{
        text-decoration: none;
        svg{
            background-color: var(--secondary1);
            margin: 0 .3rem;
            border-radius: 5vh;
            font-size: 2.2rem;
            color: var(--primary1);
        }
        span{
            font-family: var(--bs-font-sans-serif2);
            color: var(--secondarytext);
            font-size: 0rem;
        }
    }
}
@media (min-width: 992px) {
   .contact{    
    position: relative;
    left: auto;
    bottom: auto;
    a{
  
        svg{
            background-color: var(--secondary1);
            margin: 0 .3rem;
            border-radius: 5vh;
            font-size: 1.8rem;
            color: var(--primary1);
        }
        span{
            font-family: var(--bs-font-sans-serif2);
            color: var(--secondarytext);
            font-size: .9rem;
        }
    }
   }
}
.footext{
    a{
        font-size: .8rem;
        font-weight: 400;
        color: var(--primary1);
    }
    a:hover{
        color: var(--secondarytext);
    }
}

@media (min-width: 992px) {
    .logo {
        width: 10rem !important;
    }
    .logindetails {
        max-width: 75% !important; 
    }
    
}
@media (min-width: 768px) {
    .dropdown-menu {
    
        right: 0 !important;

    }
}